apiVersion: batch/v1
kind: CronJob
metadata:
  name: lenses-connector
spec:
  schedule: "0 4 * * *"
  suspend: false
  successfulJobsHistoryLimit: 2
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      template:
        metadata:
          annotations:
            sidecar.istio.io/inject: "false"
        spec:
          containers:
          - name: lenses-connector
            image: ghcr.io/gravitate-health/lenses-connector:latest
            env:
            - name: SERVER_ENDPOINT
              value: "http://gravitate-health.lst.tfo.upm.es/epi/api/fhir/Library"
          restartPolicy: OnFailure
